services:
  aidbox:
    image: healthsamurai/aidboxone:${FHIR_IMAGE_TAG:-2504}
    environment:
      AIDBOX_BASE_URL: https://aidbox.${BASE_DOMAIN}
      AIDBOX_PORT: 8080
      AIDBOX_ADMIN_ID: admin
      AIDBOX_ADMIN_PASSWORD: ${AIDBOX_ADMIN_PASSWORD:-admin}
      PGHOST: db
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: postgres
      PGDATABASE: aidbox
    env_file:
      - aidbox.env
    depends_on:
      - db
    volumes:
      - ./project:/project
    networks:
      - internal
    healthcheck:
      test: curl -f http://localhost:8080/health || exit 1
      interval: 5s
      timeout: 5s
      retries: 90
      start_period: 30s

  db:
    image: postgres:${DB_IMAGE_TAG:-17}
    environment:
      POSTGRES_DB: aidbox
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - internal
volumes:
  db-data: {}
networks:
  # internal network for backing services
  internal:
