---
services:
  aidbox:
    labels:
      - traefik.enable=true
      - traefik.http.routers.aidbox-${COMPOSE_PROJECT_NAME}.rule=Host(`aidbox.${BASE_DOMAIN}`)
      - traefik.http.routers.aidbox-${COMPOSE_PROJECT_NAME}.entrypoints=websecure
      - traefik.http.routers.aidbox-${COMPOSE_PROJECT_NAME}.tls=true
      - traefik.http.routers.aidbox-${COMPOSE_PROJECT_NAME}.tls.certresolver=letsencrypt
    networks:
      - ingress

networks:
  # ingress network
  ingress:
    external: true
    name: external_web
