services:
  firely:
    environment:
      VONK_Repository: SQLite
      VONK_SQLiteDbOptions:ConnectionString: "Data Source=./data/vonkdata.db"
      VONK_SQLiteDbOptions:AutoUpdateDatabase: true
    volumes:
      - db-data:/app/data
volumes:
  db-data: {}
